PORT=4000
NODE_ENV=development

DATABASE_URL=postgres://soukquik:soukquik@localhost:5432/soukquik
DATABASE_URL_TEST=postgres://soukquik:soukquik@localhost:5432/soukquik_test

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

CORS_ORIGIN=*
