# Copier ce fichier en config/.env et adapter si besoin
POSTGRES_USER=soukquik
POSTGRES_PASSWORD=soukquik
POSTGRES_DB=soukquik

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
